flask==3.0.3
tensorflow==2.20.0
pandas==2.2.3
openpyxl==3.1.5
gunicorn==22.0.0
numpy==2.1.2
statsmodels==0.14.5
joblib==1.4.2
pillow==10.4.0
opencv-python-headless==4.10.0.84
scikit-learn==1.7.2